ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  width: 1150px;
  padding: 32px 15px;
  margin: 0 auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.glow {
  position: fixed;
  top: -10%;
  right: -10%;
  width: 60vw;
  height: 60vw;
  background: radial-gradient(
    circle,
    rgba(255, 102, 0, 0.1) 0%,
    rgba(13, 13, 13, 0) 70%
  );
  z-index: -1;
  pointer-events: none;
}

/* -----ALL SECTION----- */

.section-title {
  font-weight: 400;
}

.section-subtitle {
  font-weight: 300;
  color: #9ca3af;
}

.glass {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  transition: all 0.3s ease;
  padding: 16px;
}

.glass:hover {
  border-color: orangered;
  box-shadow: 0 0 20px rgba(255, 102, 0, 0.1);
}

/* -----Header----- */

.header {
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 68, 0, 0.3);
}

.header-logo {
  display: block;
  font-family: "Orbitron";
  color: white;
  font-weight: bold;
  font-size: 32px;
  padding-left: 16px;
  border-left: 8px solid orangered;
}

/* -----SECTION HERO----- */

.hero-title {
  font-family: "Orbitron", sans-serif;
  font-size: 64px;
  font-weight: 700;
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

.hero .container {
  padding-top: 72px;
  padding-bottom: 72px;
}

.hero-title-span {
  color: orangered;
}

.hero .section-subtitle {
  padding: 0 128px;
  text-align: center;
  margin: 16px auto;
  font-size: 150%;
}

.hero-button {
  display: block;
  width: 250px;
  text-align: center;
  height: 42px;
  border-radius: 21px;
  margin: 0 auto;

  background-color: orangered;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  padding: 12px;
}

/* -----SECTION INPUT----- */

.input-title {
  padding-left: 16px;
  border-left: 4px solid orangered;
  margin: 32px 16px;
}

.input-form {
  padding: 32px 16px;
}

.input-form-title {
  display: block;
  color: orangered;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.form-card {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  align-items: end;
}

.input-label {
  width: calc((100% - 32px) / 3);
}

.input-label span {
  display: block;
  margin-bottom: 4px;
}

.input-field {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  transition: border-color 0.3s;
}

.input-field:focus {
  outline: none;
  border-color: orangered;
}

.button {
  background-color: orangered;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  /* width: 100%; */
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 15px orangered;
  transform: translateY(-2px);
}

/* -----DASHBOARD----- */

.dashboard-title {
  padding-left: 16px;
  border-left: 4px solid orangered;
  margin: 32px 16px;
}

.dashboard-button {
  width: auto;
  padding: 0px 16px;
  background-color: transparent;
  color: orangered;
  border: 0px;
  cursor: pointer;
}

.list-item {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0;
  border-bottom: 1px #9ca3af dotted;
}

/* -----RESULT----- */

.result-title {
  padding-left: 16px;
  border-left: 4px solid orangered;
  margin: 32px 16px;
}

.result-card {
  display: flex;
  gap: 8px;
}

.result-button {
  width: 300px;
}

.result-paragraph {
  margin-top: 8px;
  border: 1px solid orangered;
}

.result-details-list {
  width: 100%;
}

.result-value {
  font-family: "Orbitron";
  color: white;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  padding: 16px 0;
}

.result-list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #9ca3af;
  color: #9ca3af;
  padding: 4px 8px;
}

.result-list-remainder {
  min-width: 150px;
  text-align: right;
}

/* -----PRICE----- */

.price .container {
  padding-bottom: 64px;
}

.price-title {
  padding-left: 16px;
  border-left: 4px solid orangered;
  margin: 32px 16px;
}

.proce-input {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: end;
  width: (calc(100%-32px) / 3);
}

.proce-input .section-subtitle {
  margin: 4px;
}

.price-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

/* -----PRICE-TABLE----- */

.price-table thead {
  color: #9ca3af;
  text-transform: uppercase;
  border-bottom: 1px solid #9ca3af;
}

.price-table-footer {
  color: white;
  text-align: right;
  text-transform: uppercase;
  padding: 16px 0;
}

.table-sum {
  color: orangered;
  font-size: 150%;
}

.table-row td {
  color: #9ca3af;
  padding: 8px 0;
  border-bottom: 1px dotted #9ca3af;
}

/* -----FOOTER----- */

.footer .container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer .header-logo {
  text-align: center;
  margin-bottom: 32px;
  border: 0px;
  padding-left: 0;
}

.footer .section-subtitle {
  text-align: center;
}

/* --------MOBILE--------- */

/* header */

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 16px 8px;
  }

  .header-logo {
    font-size: 16px;
    padding-left: 8px;
    border-left: 4px solid orangered;
  }

  /* hero */

  .hero-title {
    font-size: 32px;
    font-weight: 700;
    width: 300px;
  }

  .hero .section-subtitle {
    font-size: 100%;
    padding: 32px 16px;
  }

  /*Input */

  .input-title,
  .dashboard-title,
  .result-title,
  .price-title {
    text-align: center;
    border-left: 0px;
    border-bottom: 2px solid orangered;
    border-top: 2px solid orangered;
    padding: 8px 0;
  }

  .input-title .section-title {
    margin-bottom: 8px;
  }

  .form-card {
    flex-direction: column;
  }

  .input-label {
    width: 100%;
  }

  .button {
    margin-top: 36px;
  }

  /* result */

  .result-card {
    flex-direction: column;
  }

  .result-button {
    width: 100%;
  }

  .result-list-item {
    flex-direction: column;
    gap: 8px;
  }

  /* table */

  .price-table {
    font-size: 80%;
  }

  .table-sum {
    font-size: 100%;
  }
}
